
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hello</title>
    <link href="/Static/site.css" rel="stylesheet" />
</head>
<body>

   @using AttendanceTracker.Models
   @model Person

   @{
    
          
       // "DropDownList"i doldurmak için 
       var items = new List<SelectListItem>{
           new SelectListItem{ Text = "bir", Value = "1", Selected = false  },
           new SelectListItem{ Text = "iki", Value = "2", Selected = false },
           new SelectListItem{ Text = "üç",  Value = "3", Selected = true },
       };    
       
   }

    @* "Display()" Model'e bağlı olarak çalışır *@

    <h2>@Html.Display( "Name" )</h2>
    <h2>@Html.Display( "Age" )</h2>
    <h2>@Html.Display( "Registration" )</h2>


   @using( Html.BeginForm() ){

       @Html.Hidden( "secret", "HAL9000" )

       @Html.Label( "adınız", new { style = "background:green;" } ) <br/>
       @Html.Label( "adınız", new Dictionary<string,object>{ { "style", "background:red;" } } )

       @Html.TextBox( "name", null, new { placeholder = "adınızı buraya yazınız" } )
       <br />
       <br />

       @* Razor sözdizim elemanları "<text>" ve "@:" *@
       
       @Html.TextArea( "mesage", new { id = "abcd", cols= 50, rows= 20, placeholder = "mesajınız?" } ) <br />
       @Html.CheckBox( "katılıyorum", true ) <text> BENİ DE AL </text> <br/>

       @Html.RadioButton( "secenekler", "",   true  ) @:A <br />
       @Html.RadioButton( "secenekler", "",   false ) @:B <br />
       @Html.RadioButton( "secenekler", "xy", false ) @:C <br />
       
       @Html.DropDownList( "beğendiklerim", items ) @:seç birini  <br />


       <input type="submit" value="gönder"/>
   }




</body>
</html>
